{% block title %}Nota Crédito {% endblock %}

{% block body %}
    

    <table class="table">
        <thead>
            <tr>
                
                <th>Fecha</th>
                <th>Número Nota</th>

                <th>Total</th>
                <th>Concepto</th>

                
                <th>Observaciones</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for nota_credito in nota_creditos %}
            <tr>
                
                <td>{{ nota_credito.fecha ? nota_credito.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ nota_credito.numeroNota }}</td>
                <td>{{ nota_credito.total }}</td>
                <td>{{ nota_credito.conceptoCredito }}</td>
                <td>{{ nota_credito.observaciones }}</td>
              
                <td>
                <a  class="btn waves-effect waves-light btn-info" href="{{ path('app_impresion_nota', {'id': nota_credito.id}) }}" title="Imprimir"><span class="fas fa-print"></span></a>
                 {% if ( nota_credito.cufe =='' or nota_credito.cufe == null)%}
                    {% if ( nota_credito.conceptoCredito != 2)%}
                        <a href="{{ path('app_nota_credito_edit', {'id': nota_credito.id}) }}">edit</a>
                    {% endif %}
                  <button type="button" class="btn"  onclick="ReportarNotacrData('{{nota_credito.id}}');" title="Reportar Dian"><img src="/assets/images/facturas/dian.png" height="30px" width="30px"></button>
                 {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no hay notas credito para esta factura</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <a class="btn waves-effect waves-light btn-success" href="{{ path('app_nota_credito_new',{'id': factura_id}) }}"> <i class=" fas fa-paste"> </i> Nueva Nota Crédito</a>
{% endblock %}
