{% extends 'base.html.twig' %}

{% block title %}Envio index{% endblock %}

{% block body %}
    <h1>Envio index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Estado</th>
                <th>Numero Envio</th>
                
                <th>Peso Estimado</th>
                <th>Peso Real</th>
                <th>Peso Cobrado</th>
                <th>valor a cobrar</th>
                <th>Fecha Estimada Entrega</th>
                <th>Pais Origen</th>
                <th>Pais Destino</th>
                <th>Empresa</th>
                <th>Envia </th>
                <th>Recibe</th>
                <th>Facturado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for envio in envios %}
            <tr>
                
                <td>{{ envio.estado }}</td>
                <td>{{ envio.numeroEnvio }}</td>
                <td>{{ envio.pesoEstimado }}</td>
                <td>{{ envio.pesoReal }}</td>
                <td>{{ envio.totalPesoCobrar }}</td>
                <td>{{ envio.totalACobrar }}</td>
                <td>{{ envio.fechaEstimadaEntrega ? envio.fechaEstimadaEntrega|date('Y-m-d') : '' }}</td>
                <td>{{ envio.paisOrigen }}</td>
                <td>{{ envio.paisDestino }}</td>
                <td>{{ envio.empresa }}</td>
                <td>{{ envio.quienEnvia }}</td>
               <td>{{ envio.quienRecibe }}</td>
                
                <td>{{ envio.facturado ? 'Si' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_envio_show', {'id': envio.id}) }}">show</a>
                    <a href="{{ path('app_envio_edit', {'id': envio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_envio_new') }}">Create new</a>
{% endblock %}
