

{% block body %}
    <h1>Envio {{ envio.numeroEnvio }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ envio.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ envio.codigo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ envio.estado }}</td>
            </tr>
            <tr>
                <th>Numero Envio</th>
                <td>{{ envio.numeroEnvio }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ envio.descripcion }}</td>
            </tr>
            <tr>
                <th>Peso Estimado</th>
                <td>{{ envio.pesoEstimado }}</td>
            </tr>
            <tr>
                <th>PesoReal</th>
                <td>{{ envio.pesoReal }}</td>
            </tr>
            
            <tr>
                <th>Total Peso Cobrar</th>
                <td>{{ envio.totalPesoCobrar }}</td>
            </tr>
            <tr>
                <th>Total A Cobrar</th>
                <td>{{ envio.totalACobrar }}</td>
            </tr>
             <tr>
                <th>Pais Origen</th>
                <td>{{ envio.paisOrigen.nombre }}</td>
            </tr>
             <tr>
                <th>Pais Destino</th>
                <td>{{ envio.paisDestino.nombre }}</td>
            </tr>
             <tr>
                <th>Quien Envia</th>
                <td>{{ envio.quienEnvia }}</td>
            </tr>
             <tr>
                <th>Quien Recibe</th>
                <td>{{ envio.quienRecibe }}</td>
            </tr>

            <tr>
                <th>Fecha Estimada Entrega</th>
                <td>{{ envio.fechaEstimadaEntrega ? envio.fechaEstimadaEntrega|date('Y-m-d') : '' }}</td>
            </tr>
           
            <tr>
                <th>Empresa</th>
                <td>{{ envio.empresa }}</td>
            </tr>
           
           
            <tr>
                <th>Facturado</th>
                <td>{{ envio.facturado ? 'Si' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

   
{% endblock %}
