{% extends 'base.html.twig' %}

{% block title %}Envio{% endblock %}

{% block body %}
    <h1>Envio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ envio.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ envio.codigo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ envio.estado }}</td>
            </tr>
            <tr>
                <th>NumeroOrden</th>
                <td>{{ envio.numeroOrden }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ envio.descripcion }}</td>
            </tr>
            <tr>
                <th>TotalPesoEstimado</th>
                <td>{{ envio.totalPesoEstimado }}</td>
            </tr>
            <tr>
                <th>TotalPesoReal</th>
                <td>{{ envio.totalPesoReal }}</td>
            </tr>
            <tr>
                <th>TotalDimencional</th>
                <td>{{ envio.totalDimencional }}</td>
            </tr>
            <tr>
                <th>TotalCostoPrevisto</th>
                <td>{{ envio.totalCostoPrevisto }}</td>
            </tr>
            <tr>
                <th>TotalCostoReal</th>
                <td>{{ envio.totalCostoReal }}</td>
            </tr>
            <tr>
                <th>TotalACobrar</th>
                <td>{{ envio.totalACobrar }}</td>
            </tr>
            <tr>
                <th>FechaEstimadaEntrega</th>
                <td>{{ envio.fechaEstimadaEntrega ? envio.fechaEstimadaEntrega|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Piezas</th>
                <td>{{ envio.piezas }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ envio.empresa }}</td>
            </tr>
            <tr>
                <th>CantidadPiezas</th>
                <td>{{ envio.cantidadPiezas }}</td>
            </tr>
            <tr>
                <th>JsonRecibido</th>
                <td>{{ envio.jsonRecibido }}</td>
            </tr>
            <tr>
                <th>Facturado</th>
                <td>{{ envio.facturado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_envio_index') }}">back to list</a>

    <a href="{{ path('app_envio_edit', {'id': envio.id}) }}">edit</a>

    {{ include('envio/_delete_form.html.twig') }}
{% endblock %}
