

{% block body %}
    <h1>Envio {{ envio.numeroEnvio }}</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Total Peso Cobrar</th>
                <td>{{ envio.totalPesoCobrar }}</td>
            </tr>
            <tr>
                <th>Total A Cobrar</th>
                <td>{{ envio.totalACobrar }}</td>
            </tr>
             <tr>
                <th>Pais Origen</th>
                <td>{{ envio.paisOrigen.nombre }}</td>
            </tr>
            
             
             <tr>
                <th>Quien Recibe</th>
                <td>{{ envio.quienRecibe }}</td>
            </tr>

            <tr>
                <th>Fecha Estimada Entrega</th>
                <td>{{ envio.fechaEstimadaEntrega ? envio.fechaEstimadaEntrega|date('Y-m-d') : '' }}</td>
            </tr>
           
           
            <tr>
                <th>Facturado</th>
                <td>{{ envio.facturado ? 'Si' : 'No' }}</td>
            </tr>
             <tr>
                <th>Factura Transportadora</th>
                <td>{{ envio.facturaTransportadora }}</td>
            </tr>
        </tbody>
    </table>

   
{% endblock %}
