{% extends 'base.html.twig' %}
{% import "macros/select2.html.twig" as macroselect2 %}
{% block title %}Editar Recibo Caja
{% endblock %}
{% block stylesheets %}
	{{ macroselect2.styleSelect2}}
    <style>
        #signaturePad {
        border: 1px solid #ddd;
        width: 100%;
        height: 200px;
        display: block;
}
    </style>
{% endblock %}
{% block body %}
	<h1>Editar Recibo Caja</h1>

	{{ include('recibo_caja/_form.html.twig', {'button_label': 'Update'}) }}

	<h2>
		Items de Recibo</h2>
	{% for item in items %}
		
		<div class="row" id="{{item.id}}">
			<div class="col-sm-12 col-lg-1">
				<label class="col-sm-12">Codigo</label>
				<br>
				<br>
				{{item.codigo}}
			</div>
			<div class="col-sm-12 col-lg-1">
				<label class="col-sm-12">Cantidad</label>
				<br>
				<br>
				{{item.cantidad}}
			</div>
			<div class="col-sm-12 col-lg-4">
				<label class="col-sm-12">Descripción</label>
				<br>
				<br>
				<input class="form-control" type="text" id="descripcion{{item.id}}" value="{{item.descripcion}}" onkeyup="ActualizarItems({{item.id}})"/>
			</div>
			<div class="col-sm-12 col-lg-2">
				<label class="col-sm-12">Valor Unitario</label>
				<br>
				<br>
				{{item.valorUnitario|number_format(2, '.', ',')}}
			</div>

			<div class="col-sm-12 col-lg-3">
				<label class="col-sm-12">Total</label>
				<br>
				<br>
				<input class="form-control" type="text" id="total{{item.id}}" value="{{item.total}}" disabled="disabled"/>
				<input type="text" id="subtotal{{item.id}}" value="{{item.subtotal}}" style=" display:none; "/>
			</div>
			<div class="col-sm-12 col-lg-1">
				<form method="post" action="{{ path('app_recibo_caja_item_delete', {'id': item.id}) }}" onsubmit="return confirm('Estas seguro de borrar esta factura?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
					<button class="btn waves-effect waves-light btn-danger">
						<span class="fas fa-trash-alt"></span>
					</button>
				</form>
			</div>
		</div>
	{%  endfor %}

	<div class="row" style="padding-top:20px;">
		<div class="col-sm-12 col-lg-4"></div>
		<div class="col-sm-12 col-lg-4">
			<strong>Total Recibo</strong>
		</div>
		<div class="col-sm-12 col-lg-4">
			<input class="form-control" type="text" id="totalFactura" value="{{recibo_caja.total }}" disabled="disabled"/>
		</div>

	</div>
	<div class="row" style="padding-top:20px;">
		<div class="col-sm-12 col-lg-1">
			<strong>Fecha inicio</strong>
			<input type="text" id="fecha_inicio" class="form-control border-color">
		</div>
		<div class="col-sm-12 col-lg-2">
			<strong>Fecha fin</strong>
			<input type="text" id="fecha_fin" class="form-control border-color">
		</div>
		<div class="col-sm-12 col-lg-2">
			<strong>Condición de Pago</strong>
			<select class="form-control" id="condicion_pago">
				<option value=""></option>
				<option value="CONTADO">
					CONTADO</option>
				<option value="CRÉDITO">
					CRÉDITO</option>
				<option value="CONTRA ENTREGA">
					CONTRA ENTREGA</option>
			</select>
		</div>
		<div class="col-sm-12 col-lg-2">
			<strong>Filtrar</strong>
			<input type="text" id="filtro" class="form-control border-color">
		</div>
		<div class="col-sm-12 col-lg-1">
			<button class="btn waves-effect waves-light btn-success" type="button" onclick="envios();">
				Nacionales</button>
		</div>
    <div class="col-sm-12 col-lg-2">
			<button class="btn waves-effect waves-light btn-danger" type="button" onclick="enviosInter();">
				Internacional
            </button>
            {% if is_granted('ROLE_ADMIN')  %}
            <button id="#btnAbrirFirma" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#firmaModal" data-recibo-id="{{ recibo_caja.id }}">
                Firmar
            </button>
            {% endif %}
		</div>
		<div class="col-sm-12 col-lg-2">
			<a class="btn waves-effect waves-light btn-info" href="/impresion/impresion_recibo?id={{recibo_caja.id}}" title="Imprimir">
				<span class="fas fa-print"></span>
			</a>
			<a class="btn btn-dark rounded-pill px-4 waves-effect waves-light" href="{{ path('app_factura_index') }}">Terminar</a>
            
		</div>
        
	</div>

    <div class="modal fade" id="firmaModal" tabindex="-1" role="dialog" aria-labelledby="firmaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="firmaModalLabel">Registrar Firma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="canvasContainer" style="width: 100%; height: 200px;">
                        <canvas id="signaturePad" style="border: 1px solid #ddd;"></canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="clearSignature" class="btn btn-danger btn-sm">Limpiar Firma</button>
                    <button id="saveSignature" class="btn btn-success btn-sm">Guardar Firma</button>
                </div>
            </div>
        </div>
    </div>
	<div id="envios" title="Envios" style="display:none;width:800px;height:500px;">
		<div id="divenvios"></div>
	</div>
	
{% endblock %}
{% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
		{{ macroselect2.scriptSelect2}}

<script>
    

     $("#recibo_caja_municipio").select2({
            width: '100%'});
     $("#recibo_caja_pagada_a").select2({
            width: '100%'});
     $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
     });

   function envios()
        {
            var fechaincio = $("#fecha_inicio").val();
            var fechafin = $("#fecha_fin").val();
            var recibo_id = '{{recibo_caja.id}}';
            var filtro = $("#filtro").val();
            var condicionPago = $("#condicion_pago").val();

            if (fechaincio != "") {
                if (fechafin != "") {
                    if (fechafin > fechaincio) {
                        ParaEnvios = '{{ path('app_envios_nacionales_listado_envios')}}';
                        $('#divenvios').load( ParaEnvios,{ fecha_inicio: fechaincio, fecha_fin: fechafin, recibo: recibo_id ,filtro:filtro,pago: condicionPago});
                        $("#envios").dialog({ width: 800, height: 500});
                    } else {
                        alert("La fecha de inicio debe ser menor");
                    }
                } else {
                    alert("Por favor ingrese la fecha fin");
                }

            } else {
                 ParaEnvios = '{{ path('app_envios_nacionales_listado_envios_recibo')}}';
                 $('#divenvios').load(ParaEnvios,{recibo: recibo_id,filtro:filtro,pago:condicionPago });
                 $("#envios").dialog({ width: 800, height: 500});
            }


        }
		 function enviosInter()
        {
            var fechaincio = $("#fecha_inicio").val();
            var fechafin = $("#fecha_fin").val();
            var recibo_id = '{{recibo_caja.id}}';
            var envia = $("#filtro").val();

            if (fechaincio != "") {
                if (fechafin != "") {
                    if (fechafin > fechaincio) {
                        ParaEnvios = '{{ path('app_envio_listado_envios_recibo')}}';
                        $('#divenvios').load( ParaEnvios,{ fecha_inicio: fechaincio, fecha_fin: fechafin, recibo: recibo_id ,envia: envia});
                        $("#envios").dialog({ width: 800, height: 500});
                    } else {
                        alert("La fecha de inicio debe ser menor");
                    }
                } else {
                    alert("Por favor ingrese la fecha fin");
                }

            } else {
                 ParaEnvios = '{{ path('app_envio_listado_envios_recibo')}}';
                 $('#divenvios').load(ParaEnvios,{recibo: recibo_id,envia: envia });
                 $("#envios").dialog({ width: 800, height: 500});
            }


        }
       function validateMenorCien(item, id)
    {
       

        var x = item;
        if (x.value <= 100) {
            ActualizarItems(id);
        } else {
            alert('por favor ingrese valores menores o iguales a 100');
            $("#" + x.id).val(0);
            validateMenorCien(item, id);
        }

    }
    function ActualizarItems(item)
    {
        ////////////////// obtener los datos de los input ////////////////////
        var valoresDeMedicamentosTotal = [];
        var valoresDeMedicamentos = new Array();

        ///////////// trayendo los datos de tipo input /////////////////

        let fila = 0;



        $("#" + item).find('div').each(function () {

            $(this).find(':input, textarea').each(function () {
                var elemento = this;

                var datoDeForeach = {nombre: elemento.id, valor: elemento.value, grupo: elemento.getAttribute('data-grupo')};

                valoresDeMedicamentos.push(datoDeForeach);

            });

        });
        // $("#total"+imprimir).attr({value:'33'});
        if (valoresDeMedicamentos.length > 0)
        {
            valoresDeMedicamentosTotal[fila] = valoresDeMedicamentos;
        }
        cargarDatosItems(JSON.stringify(valoresDeMedicamentosTotal),item);

        ///////////// fin trayendo los datos de tipo input ////////////////
    }

     function cargarDatosItems(datos,id){
       $.ajax({
        url : '{{ path('app_factura_nacionales_cargar_items')}}',
        data :{datos: datos, id:id} ,
        type : 'POST',
        dataType : 'json',
        success : function(json) {
            console.log(json[0]);

            $("#total" + json[1]).attr({value: json[0]});
            $("#totalFactura").attr({value: json[2]});

        
            },
            error : function(xhr, status) {
            alert('Disculpe, existió un problema');
       }
          });

    };

     //solo se pueden ingresar numeros
    function validaNumericos(event) {
        if (event.charCode >= 48 && event.charCode <= 57) {
            return true;
        }
        return false;
    }

     $(document).on('select2:open', () => {
        document.querySelector('.select2-search__field').focus();
     });

    

$(document).ready(function () {
    const canvas = document.getElementById('signaturePad');
    const container = document.getElementById('canvasContainer');
    let signaturePad;
    let reciboId = null; // Variable para almacenar el ID del recibo

    // Función para configurar el tamaño del lienzo
    function setCanvasSize() {
        const ratio = Math.max(window.devicePixelRatio || 1, 1);

        // Configurar las dimensiones físicas del lienzo
        canvas.width = container.offsetWidth * ratio;
        canvas.height = container.offsetHeight * ratio;

        // Escalar el contexto del lienzo
        canvas.getContext('2d').scale(ratio, ratio);
    }

    // Inicializar el lienzo cuando se muestra el modal
    $('#firmaModal').on('shown.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Botón que activó el modal
        reciboId = button.data('recibo-id'); // Obtener el ID del recibo del atributo data-recibo-id

        console.log('ID del recibo:', reciboId); // Verificar el ID del recibo en la consola

        setCanvasSize(); // Ajustar el tamaño del lienzo
        signaturePad = new SignaturePad(canvas); // Inicializar SignaturePad
        signaturePad.clear(); // Asegurar que esté limpio
    });

    // Limpiar la firma
    $('#clearSignature').on('click', function () {
        if (signaturePad) {
            signaturePad.clear();
        }
    });

    // Guardar la firma
    $('#saveSignature').on('click', function () {
        if (!reciboId) {
            alert('No se pudo obtener el ID del recibo.');
            return;
        }

        if (signaturePad && signaturePad.isEmpty()) {
            alert('Por favor, registre una firma antes de guardar.');
        } else if (signaturePad) {
            const firmaBase64 = signaturePad.toDataURL('image/png');

            // Enviar la firma y el ID del recibo al backend
            $.ajax({
                url: '{{ path('app_recibo_caja_guardar_firma')}}',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    reciboId: reciboId,
                    firma: firmaBase64,
                }),
                success: function (response) {
                    if (response.success) {
                        alert('Firma guardada correctamente.');
                        $('#firmaModal').modal('hide');
                    } else {
                        alert('Error al guardar la firma.');
                    }
                },
                error: function (error) {
                    console.error('Error al enviar la firma:', error);
                    alert('Ocurrió un error al guardar la firma.');
                },
            });
        }
    });
});
</script>

		
	{% endblock %}