<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f7f7f7;
        font-weight: bold;
        text-align: center;
    }

    .section-title {
        text-align: left;
        font-size: 14px;
        background-color: #e8e8e8;
        padding: 10px;
        font-weight: bold;
        border: 1px solid #ddd;
    }

    .highlight {
        background-color: #f9f9f9;
    }

    .total {
        font-weight: bold;
        font-size: 16px;
        color: #444;
        text-align: right;
    }

    .logo {
        text-align: center;
        padding: 10px;
    }

    .firma {
        text-align: center;
        font-size: 12px;
        margin-top: 40px;
        border-top: 2px solid #000;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

    .firma-text {
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #555;
    }

    .big-title {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .total-row {
        background-color: #e8f4e8;
    }

    .bold {
        font-weight: bold;
    }
    .content-firma{
        text-align: center;
    }
</style>

<table>
    <tr>
        <td style="width: 45%; text-align:center;">
            <img src="{{ asset('assets/images/facturas/2.png') }}" alt="logo" width="100">
        </td>
        <td style="width: 55%;" colspan="3" class="big-title">
            RE N° {{ recibo.numeroRecibo }}
        </td>
    </tr>
    <tr>
        <td colspan="1" >
            <strong> {{ municipio.nombre }}</strong>
        </td>
        <td colspan="3" style="text-align:right;">
            <strong>Fecha:</strong> {{ recibo.fecha | date('d/m/Y') }}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="1" class="section-title">Generada por </td>
        <td colspan="3"  class="section-title">{{ creada_por.firstName  }} {{ creada_por.lastName  }}</td>
    </tr>
    <tr>
        <td colspan="1" class="section-title">Pagada a</td>
        <td colspan="3"  class="section-title">{{ paga_a.firstName }} {{ paga_a.lastName  }}</td>
    </tr>
</table>

<br>

<table>
    <tr>
        <th style="width: 10%;">REF</th>
        <th style="width: 40%;">CONCEPTO</th>
        <th style="width: 30%;">REFERENCIAS</th>
        <th style="width: 20%;">TOTAL</th>
    </tr>
    
    {% for item in items %}
    <tr>
        <td>{{ item.codigo }}</td>
        <td>{{ unidades[item.id]['descripcion'] }}</td>
        <td>{{ unidades[item.id]['ref'] }}</td>
        <td class="value">{{ item.total | number_format(2, '.', ',') }}</td>
    </tr>
    {% endfor %}

    <tr class="total-row">
        <td colspan="2" class="total bold">Total a Pagar</td>
        <td colspan="2" class="total bold">
            {{ recibo.total | number_format(2, '.', ',') }}
        </td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
{% if (recibo.firma)%}
<div class="firma-text">
     <img src="{{ asset(recibo.firma) }}" alt="logo" width="300">
</div>
{% endif %}
<div class="firma">
    <span class="firma-text">Firma Recibido</span>
</div>
