<style>
@page {
		margin-left: 0.5cm;
		margin-right: 0.5cm;
	}
  body{
	font-size:12px;
	 font-family: Helvetica, Arial, sans-serif;
  }
  .derecha{
	font-size: 9px;
  }
  .centrada{
	font-size: 14px;
  }
</style>



<table style="width:100%;  border-spacing: 0px;">
	<tr>
		<td rowspan="3" style=" text-align:center;  width:20%">

			<img src="{{base64}}" alt="user" width="90">
		</td>
		<td style=" text-align:center; width:45%; font-size: 14px;"><b>COMERCIALIZADORA BAMBUC SAS</b></td>
		<td style="text-align:center; border-bottom: 1px solid black;  border-left: 1px solid black; border-top: 1px solid black; border-radius: 5px 0 0 0; width:8%; " class="derecha"><b>REMISIÓN</b></td>
		<td style="text-align:center;  border: 1px solid black;  border-radius: 0 5px 0 0; width:17%;" class="derecha"><b>F{{remision.numero}}</b></td>
	</tr>
	<tr>
		<td style=" text-align:center; ">901.677.550-3
			<br>
			Avenidad 87 #22 - 11 int 2</td>
		<td style="text-align:center;  border-bottom: 1px solid black;  border-left: 1px solid black; " class="derecha"><b>FORMA DE PAGO</b></td>
		<td style="text-align:center;  border-left: 1px solid black; border-right: 1px solid black;" class="derecha"> {{remision.formaPago}}</td>
	</tr>
	<tr>
		<td style=" text-align:center; ">Bucaramanga - Santander
			<br>
			Tel: (607) 6806331 -Cel: 3147128855</td>
		<td style="text-align:center;  border-bottom: 1px solid black;  border-left: 1px solid black; border-radius: 0 0 0 5px;" class="derecha" >FECHA</td>
		<td style="text-align:center;  border: 1px solid black; border-radius: 0 0 5px 0;" class="derecha">{{remision.fecha|date('d/m/Y')}}</td>
	</tr>
</table>
<br>
<table  style="width:100%;  border-spacing: 0px; border-radius: 5px;  border: 1px solid black; ">
	<tr>
		<td rowspan="10"   style="text-align:center; width:2%; background-color: black;"><img src="{{base64_vertical_origen}}" alt="user" width="15"></td>
		<td rowspan="2" style="text-align:center;  width:25%;"  class="centrada">
			{{remision.cliente.razonSocial}}</td>
		<td rowspan="8"   style="text-align:center; width:2%; background-color: black;"><img src="{{base64_vertical_destino}}" alt="user" width="15"></td>
		<td rowspan="2" style= " border-right: 1px solid black; text-align:center;   width:25%" class="centrada">
			{{remision.destinatario}}</td>
		<td style="border-right: 1px solid black; text-align:center;  width:6%;" class="derecha"><b>UNIDADES</b></td>
		<td style= " width:25%" class="derecha"><b>DICE CONTENER</b></td>
		
		
	</tr>
	<tr>
		
		<td style="border-right: 1px solid black;"></td>
		<td class="derecha">{{remision.descripcion}}</td>
		
		
	</tr>
	<tr>
		
		<td rowspan="4" style="text-align:center;" class="centrada">
			{{remision.direccionOrigen}}</td>
		
		<td rowspan="4" style= " border-right: 1px solid black; text-align:center;" class="centrada">
			{{remision.direccionDestino}}</td>
		<td style= "border-right: 1px solid black; text-align:center;">{{remision.unidades}}</td>
		<td style= "border-top: 1px solid black; " class="derecha">
			<b>VALOR DECLARADO</b></td>
		
		
	</tr>
	<tr>
		
		<td style="border-right: 1px solid black;"></td>
		<td >${{remision.seguro|number_format(2, '.', ',')}}</td>
		
		
	</tr>
	<tr>
		
		<td style=" border-top: 1px solid black; border-right: 1px solid black; text-align:center;" class="derecha"><b>PESO (KG)</b></td>
		<td style= "border-top: 1px solid black; "><b class="derecha"> FLETE</b>  ${{(remision.valorTotal - remision.seguro)|number_format(2, '.', ',')}}</td>
		
		
	</tr>
	<tr>
		
		<td style=" border-right: 1px solid black;"></td>
		<td style= "border-top: 1px solid black; "><b class="derecha">SEGURO</b> ${{(remision.seguro * 0.05 )|number_format(2, '.', ',')}} </td>
		
		
	</tr>
	<tr>
		
		<td rowspan="2" style="text-align:center; " class="centrada">
			{{remision.cliente.telefono}}</td>
		
		<td rowspan="2" style="  border-right: 1px solid black; text-align:center; " class="centrada">
			{{remision.telefonoDestinatario}}</td>
		<td style="  border-right: 1px solid black; text-align:center;">{{remision.peso}}</td>
		<td style= "border-top: 1px solid black; "><b>VALOR TOTAL</b></td>
		
		
	</tr>
	<tr>
		
		<td style="border-right: 1px solid black; "></td>
		<td >${{remision.valorTotal|number_format(2, '.', ',')}}</td>
		
		
	</tr>
	<tr>
		
		<td rowspan="2"  style=" border-top: 1px solid black;">
			<b>{{remision.municipioOrigen.departamento.nombre}}({{remision.municipioOrigen.nombre }})</b></td>
		<td rowspan="2" style="text-align:center; width:10px; background-color: black;"><img src="{{base64_flecha}}" alt="user" width="15"></td>
		<td rowspan="2"  style=" border-top: 1px solid black; border-right: 1px solid black;">
			<b>{{remision.municipioDestino.departamento.nombre }}({{remision.municipioDestino.nombre }})</b></td>
		
		<td colspan= "2" style=" border-top: 1px solid black; " class="derecha">
			<b>RECIBIDO</b></td>
		
		
	</tr>
	<tr>
		<td colspan= "2">
			</td>
	
	</tr>
	
	<tr>
		
		<td colspan="4" style=" border-top: 1px solid black; border-right: 1px solid black; font-size: 9px;"><b>DOCUMENTO NO VALIDO COMO FACTURA SOLICITE SU FACTURA: bambuc.nacional@gmail.com</b></td>
		<td colspan="2" class="derecha"><b> Nombre y Cedula</b></td>
		
		
	</tr>
</table>
<br>
<br>
<br>
