<table style=" text-align:left; ">
	<tr>

		<td style="width:30%;"><img src="{{ asset('assets/images/facturas/2.png')}}" alt="user" width="90"></td>
		<td style="width:70%; ">
			
			<img src="{{base_64}}" width="230px" height="90px" ></td>

	</tr>

	<tr>
		<td colspan="2">

			<b style="font-size: 25px">GUIA:
			</b>
			<b style="font-size: 25px">{{unidad.numeroGuia }}</b>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<b>DE:
			</b>

			{{remision.cliente.razonSocial }}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<b>PARA:
			</b>
			{{remision.destinatario }}</td>
	</tr>
	<tr>
		<td colspan="2">
			<b style="font-size: 20px">Destino:
			</b>
			<b style="font-size: 20px">{{remision.municipioDestino.nombre }}({{remision.municipioDestino.departamento.nombre }})</b>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<b>Dirección:
			</b>
			{{remision.direccionDestino }}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<b>Telefono:
			</b>
			{{remision.telefonoDestinatario}}
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<b>Nota:
			</b>


			{{remision.observacion}}
		</td>
	</tr>
	<tr>
		<td colspan="2" style=" text-align:center; ">
			<b style="font-size: 20px">{{key}}</b>
		</td>
	</tr>
</table>
