

<table  style=" text-align:center; " >


	<tr>
	    
		<td border="1"><img src="{{ asset('assets/images/facturas/logo.jpg')}}" alt="user" width="90" ></td>
		
	</tr>

	<tr>
		<td   >
			<img src="{{base_64}}"  width="200px"  height="60px"><br>
			<b class="title">GUIA   {{unidad.numeroGuia }}</b>
		</td>
	</tr>
	<tr>
		<td   >
			<b>Remitente: </b>{{remision.cliente.razonSocial }}
		</td>
	</tr>
	<tr>
		<td  >
			<b>Destinatario: </b>{{remision.destinatario }}
		</td>
	</tr>
    <tr>
		<td   >
			<b>Destino: {{remision.municipioDestino.departamento.nombre }}({{remision.municipioDestino.nombre }})</b>
		</td>
	</tr>
	<tr>
		<td   >
			<b>Dirección: </b>{{remision.direccionDestino }}
		</td>
	</tr>
    <tr>
		<td   >
			<b>Telefono: </b>{{remision.telefonoDestinatario}}
		</td>
	</tr>
	 <tr>
		<td  >
			<b>Observaciones: </b>{{remision.observacion}}
		</td>
	</tr>
	 <tr>
		<td   >
			<b>{{key}}</b>
		</td>
	</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>