{% extends 'base.html.twig' %}

{% block title %}TarifasConfiguracion index{% endblock %}

{% block body %}
    <h1>TarifasConfiguracion index</h1>

    <table class="table table-striped table-bordered text-nowrap dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>ValorDolar</th>
                <th>TasaConbustible</th>
                <th>PorcentajeGanacia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarifas_configuracion in tarifas_configuracions %}
            <tr>
                <td>{{ tarifas_configuracion.id }}</td>
                <td>{{ tarifas_configuracion.valorDolar }}</td>
                <td>{{ tarifas_configuracion.tasaConbustible }}</td>
                <td>{{ tarifas_configuracion.porcentajeGanacia }}</td>
                <td>
                    <a href="{{ path('app_tarifas_configuracion_show', {'id': tarifas_configuracion.id}) }}">show</a>
                    <a href="{{ path('app_tarifas_configuracion_edit', {'id': tarifas_configuracion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tarifas_configuracion_new') }}">Create new</a>
{% endblock %}
