{% extends 'base.html.twig' %}

{% block title %}TarifasConfiguracion{% endblock %}

{% block body %}
    <h1>TarifasConfiguracion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarifas_configuracion.id }}</td>
            </tr>
            <tr>
                <th>ValorDolar</th>
                <td>{{ tarifas_configuracion.valorDolar }}</td>
            </tr>
            <tr>
                <th>TasaConbustible</th>
                <td>{{ tarifas_configuracion.tasaConbustible }}</td>
            </tr>
            <tr>
                <th>PorcentajeGanacia</th>
                <td>{{ tarifas_configuracion.porcentajeGanacia }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tarifas_configuracion_index') }}">back to list</a>

    <a href="{{ path('app_tarifas_configuracion_edit', {'id': tarifas_configuracion.id}) }}">edit</a>

    {{ include('tarifas_configuracion/_delete_form.html.twig') }}
{% endblock %}
