{% extends 'base.html.twig' %}

{% block title %}Factura index{% endblock %}

{% block body %}
    <h1>Factura index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroFactura</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>FechaVencimiento</th>
                <th>FechaValidacion</th>
                <th>Total</th>
                <th>Anulado</th>
                <th>AnuladoUsuario</th>
                <th>AnuladoFecha</th>
                <th>FormaDePago</th>
                <th>TipoFactura</th>
                <th>Observaciones</th>
                <th>Hora</th>
                <th>Subtotal</th>
                <th>TotalIva</th>
                <th>TotalReteIva</th>
                <th>TotalReteIca</th>
                <th>TotalReteFuente</th>
                <th>TotalReteFuenteG</th>
                <th>ReteFuente</th>
                <th>ReteIca</th>
                <th>ReteIva</th>
                <th>Descuento</th>
                <th>TaxLevelCode</th>
                <th>Regimen</th>
                <th>RespuestaDian</th>
                <th>Cufe</th>
                <th>Pdf</th>
                <th>Xml</th>
                <th>CuerpoJsonf</th>
                <th>CuerpoJsonc</th>
                <th>RespuestaCorreo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.numeroFactura }}</td>
                <td>{{ factura.estado }}</td>
                <td>{{ factura.fecha ? factura.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ factura.fechaVencimiento ? factura.fechaVencimiento|date('Y-m-d') : '' }}</td>
                <td>{{ factura.fechaValidacion ? factura.fechaValidacion|date('Y-m-d') : '' }}</td>
                <td>{{ factura.total }}</td>
                <td>{{ factura.anulado ? 'Yes' : 'No' }}</td>
                <td>{{ factura.anuladoUsuario }}</td>
                <td>{{ factura.anuladoFecha ? factura.anuladoFecha|date('Y-m-d') : '' }}</td>
                <td>{{ factura.formaDePago }}</td>
                <td>{{ factura.tipoFactura }}</td>
                <td>{{ factura.observaciones }}</td>
                <td>{{ factura.hora ? factura.hora|date('H:i:s') : '' }}</td>
                <td>{{ factura.subtotal }}</td>
                <td>{{ factura.totalIva }}</td>
                <td>{{ factura.totalReteIva }}</td>
                <td>{{ factura.totalReteIca }}</td>
                <td>{{ factura.totalReteFuente }}</td>
                <td>{{ factura.totalReteFuenteG }}</td>
                <td>{{ factura.reteFuente }}</td>
                <td>{{ factura.reteIca }}</td>
                <td>{{ factura.reteIva }}</td>
                <td>{{ factura.descuento }}</td>
                <td>{{ factura.taxLevelCode }}</td>
                <td>{{ factura.regimen }}</td>
                <td>{{ factura.respuestaDian }}</td>
                <td>{{ factura.cufe }}</td>
                <td>{{ factura.pdf }}</td>
                <td>{{ factura.xml }}</td>
                <td>{{ factura.cuerpoJsonf }}</td>
                <td>{{ factura.cuerpoJsonc }}</td>
                <td>{{ factura.respuestaCorreo }}</td>
                <td>
                    <a href="{{ path('app_factura_simple_show', {'id': factura.id}) }}">show</a>
                    <a href="{{ path('app_factura_simple_edit', {'id': factura.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="34">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_factura_simple_new') }}">Create new</a>
{% endblock %}
