{% extends 'base.html.twig' %}

{% import "macros/select2.html.twig" as macroselect2 %}

{% block stylesheets %}
{{ macroselect2.styleSelect2}}
{% endblock %}


{% block title %}Edit Factura{% endblock %}

{% block body %}
    <h1>Editar Factura</h1>

    {{ include('factura/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <h2> Items de Factura</h2>



  {% for item in items %} 
  <div class="row" id="{{item.id}}">
    <div class="col-sm-12 col-lg-1">
      <label class="col-sm-12">Codigo</label>
       <br>
       <br>
      {{item.codigo}}
    </div>
    <div class="col-sm-12 col-lg-1">
    <label class="col-sm-12">Cantidad</label>
       <br>
       <br>
        {{item.cantidad}}
    </div>
    <div class="col-sm-12 col-lg-2">
        <label class="col-sm-12">Descripción</label>
        <br>
        <br>
        <input class="form-control" type="text" id="descripcion{{item.id}}" value="{{item.descripcion}}"  onkeyup="ActualizarItems({{item.id}})" />
    </div>
     <div class="col-sm-12 col-lg-2">
    <label class="col-sm-12">Valor Unitario</label>
       <br>
       <br>
        {{item.valorUnitario}}
    </div>
    <div class="col-sm-12 col-lg-1">
        <label class="col-sm-12">Descuento %</label>
        <br>
        <br>
        <input class="form-control" type="text" id="descuento{{item.id}}" value="{{item.tasaDescuento}}"  onkeyup="validateMenorCien(this, {{item.id}})" onkeypress='return validaNumericos(event)'/>
    </div>
    <div class="col-sm-12 col-lg-1">
        <label class="col-sm-12">Rete Fue %</label>
        <br>
        <br>
        <input class="form-control" type="text" id="Retefuente{{item.id}}" value="{{item.retencionFuente}}"  onkeyup="validateMenorCien(this,{{item.id}})" onkeypress='return validaNumericos(event)'/>
    </div>
    <div class="col-sm-12 col-lg-1">
        <label class="col-sm-12">Iva %</label>
        <br>
        <br>
        <input class="form-control" type="text" id="Iva{{item.id}}" value="{{item.iva}}"  onkeyup="validateMenorCien(this,{{item.id}})" onkeypress='return validaNumericos(event)'/>
    </div>
    <div class="col-sm-12 col-lg-2">
        <label class="col-sm-12">Total</label>
        <br>
        <br>
        <input class="form-control" type="text" id="total{{item.id}}" value="{{item.total}}" disabled="disabled"/> 
        <input  type="text" id="subtotal{{item.id}}" value="{{item.subtotal}}" style=" display:none; "/>
    </div>
    <div class="col-sm-12 col-lg-1">
        <form method="post" action="{{ path('app_factura_item_delete', {'id': item.id}) }}" onsubmit="return confirm('Estas seguro de borrar esta factura?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
            <button class="btn waves-effect waves-light btn-danger"><span class="fas fa-trash-alt"></span></button>
        </form>
    </div>
  </div>
   {%  endfor %}

 <div class="row" style="padding-top:20px;">
    <div class="col-sm-12 col-lg-4">
         
    </div>
    <div class="col-sm-12 col-lg-4">
        <strong>Total Factura</strong>
    </div>
     <div class="col-sm-12 col-lg-4">
         <input class="form-control" type="text" id="totalFactura" value="{{factura.total - (factura.totalReteIca + factura.totalReteIva + factura.totalReteFuenteG + factura.descuento)}}" disabled="disabled"/>
    </div>
    
 </div>
 <div class="row" style="padding-top:20px;">
    <div class="col-sm-12 col-lg-2">
        <strong>Fecha inicio</strong>
        <input type="text" id="fecha_inicio" class="form-control border-color">
    </div>
     <div class="col-sm-12 col-lg-2">
      <strong>Fecha fin</strong>
        <input type="text" id="fecha_fin" class="form-control border-color">
    </div>
     <div class="col-sm-12 col-lg-4">
      <strong>Quien envia</strong>
        <input type="text" id="quien_envia" class="form-control border-color">
    </div>
    <div class="col-sm-12 col-lg-2">
         <button class="btn waves-effect waves-light btn-success" type="button"  onclick="envios();" > Ver Envios</button>
    </div>
    <div class="col-sm-12 col-lg-2">
         <a  class="btn waves-effect waves-light btn-info" href="/impresion/impresion_factura?id={{factura.id}}" title="Imprimir"><span class="fas fa-print"></span></a>
         <a class="btn btn-dark rounded-pill px-4 waves-effect waves-light" href="{{ path('app_factura_index') }}">Terminar</a>
    </div>
 </div>
 

<div id="envios" title="Envios" style="display:none;width:800px;height:500px;" >        
    <div id="divenvios" >

    </div>
</div>
 
{% endblock %}
{% block javascripts %} 

{{ macroselect2.scriptSelect2}}
<script>

 function BuscarConsecutivo(){
       $.ajax({
        url : '/factura/buscarConsecutivo',
        data : { resolucion_id : $('#factura_facturaResolucion').val()},
        type : 'POST',
        dataType : 'json',
        success : function(json) {

            $('#factura_numeroFactura').val(json.results);

            },
       error : function(xhr, status) {
        alert('Disculpe, existió un problema');
       }
          });

    };

 $(function () { 
     
  

     function formatResult (item) {
            

            var html = [
                '<div>',
                    item.text + " <b>" + " (" + item.tipo_documento + " " + item.numero_identificacion + ")" + "</b>",
                '</div>'
            ];

            var $state = $(html.join(""));

            return $state;
        };
    

       var currentQuery = "";

        $("#input-buscador-clientes").select2({
            width: '100%',
            theme: "bootstrap",
            minimumInputLength: 2,
            delay: 200,
            placeholder: "Ingrese un término de búsqueda aquí p. ej. número de identificación",
            ajax: {
                url: '/factura/buscadorAjaxCliente',
                dataType: 'json'
            },
            templateResult: formatResult
        }).on('select2:select', function (e) {
            var data = e.params.data;
            
            $('#factura_cliente').val(data.id);
            $('#factura_regimen').val(data.regimen);
            $('#factura_taxLevelCode').val(data.obligacion);
            $('#lblcliente').html(data.text);
            
        }).on('select2:open', function() {
            $('.select2-search input').focus().val(currentQuery).trigger('input');
        }).on('select2:closing', function() {
            currentQuery = $('.select2-search input').prop('value');
        });


        

        $("#fecha_inicio" ).datepicker();
        $("#fecha_fin" ).datepicker();

 });


   
   $('#factura_facturaResolucion').change(function ()
    {
            BuscarConsecutivo();
    });

  function envios()
        {
            var fechaincio = $("#fecha_inicio").val();
            var fechafin = $("#fecha_fin").val();
            var factura_id = '{{factura.id}}';
            var envia = $("#quien_envia").val();

            if (fechaincio != "") {
                if (fechafin != "") {
                    if (fechafin > fechaincio) {
                        ParaEnvios = '{{ path('app_envio_listado_envios')}}';
                        $('#divenvios').load( ParaEnvios,{ fecha_inicio: fechaincio, fecha_fin: fechafin, factura_id: factura_id ,envia: envia});
                        $("#envios").dialog({ width: 800, height: 500});
                    } else {
                        alert("La fecha de inicio debe ser menor");
                    }
                } else {
                    alert("Por favor ingrese la fecha fin");
                }

            } else {
                 ParaEnvios = '{{ path('app_envio_listado_envios')}}';
                 $('#divenvios').load(ParaEnvios,{factura_id: factura_id,envia: envia });
                 $("#envios").dialog({ width: 800, height: 500});
            }


        }
//validar campos menores que 100
function validateMenorCien(item, id)
    {
       

        var x = item;
        if (x.value <= 100) {
            ActualizarItems(id);
        } else {
            alert('por favor ingrese valores menores o iguales a 100');
            $("#" + x.id).val(0);
            validateMenorCien(item, id);
        }

    }
    function ActualizarItems(item)
    {
        ////////////////// obtener los datos de los input ////////////////////
        var valoresDeMedicamentosTotal = [];
        var valoresDeMedicamentos = new Array();

        ///////////// trayendo los datos de tipo input /////////////////

        let fila = 0;



        $("#" + item).find('div').each(function () {

            $(this).find(':input, textarea').each(function () {
                var elemento = this;

                var datoDeForeach = {nombre: elemento.id, valor: elemento.value, grupo: elemento.getAttribute('data-grupo')};

                valoresDeMedicamentos.push(datoDeForeach);

            });

        });
        // $("#total"+imprimir).attr({value:'33'});
        if (valoresDeMedicamentos.length > 0)
        {
            valoresDeMedicamentosTotal[fila] = valoresDeMedicamentos;
        }
        cargarDatosItems(JSON.stringify(valoresDeMedicamentosTotal),item);

        ///////////// fin trayendo los datos de tipo input ////////////////
    }

     function cargarDatosItems(datos,id){
       $.ajax({
        url : '{{ path('app_factura_cargar_items')}}',
        data :{datos: datos, id:id} ,
        type : 'POST',
        dataType : 'json',
        success : function(json) {
            console.log(json[0]);

            $("#total" + json[1]).attr({value: json[0]});
            $("#totalFactura").attr({value: json[2]});

        
            },
            error : function(xhr, status) {
            alert('Disculpe, existió un problema');
       }
          });

    };

     //solo se pueden ingresar numeros
    function validaNumericos(event) {
        if (event.charCode >= 48 && event.charCode <= 57) {
            return true;
        }
        return false;
    }

</script>

{% endblock %}