{% extends 'base.html.twig' %}

{% block title %}Factura index{% endblock %}

{% block body %}
 <div class="p-3">
        <div class="form-group ">
         <a class="btn waves-effect waves-light btn-success" href="{{ path('app_factura_new') }}"> <i class="  fas fa-paste"></i> Nueva Factura</a>
        {# <a class="btn waves-effect waves-light btn-success" href="{{ path('app_factura_simple_new') }}"> <i class="  fas fa-paste"></i> Nueva Factura Simple</a>#}
         <a class="btn waves-effect waves-light btn-primary " href="{{ path('app_clientes_index') }}"> <i class=" fas fa-handshake"></i> Clientes</a>
         <a class="btn waves-effect waves-light btn-secondary" href="{{ path('app_factura_resolucion_index') }}"> <i class="fas fa-file-alt"></i> Resoluciones</a>
        </div>
    </div>

    <h1>Listado de Facturas</h1>

    <table class="table" id="data_table_facturas">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>N°</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
 <div class="p-3">
   <div class="form-group ">
   <a class="btn waves-effect waves-light btn-success" href="{{ path('app_factura_new') }}"> <i class=" fas fa-paste"> </i> Nueva Factura</a>
   <a class="btn waves-effect waves-light btn-success" href="{{ path('app_factura_simple_new') }}"> <i class="  fas fa-paste"></i> Nueva Factura Simple</a>
   <a class="btn waves-effect waves-light btn-primary " href="{{ path('app_clientes_index') }}"> <i class=" fas fa-handshake"></i> Clientes</a>
   <a class="btn waves-effect waves-light btn-secondary" href="{{ path('app_factura_resolucion_index') }}"> <i class="fas fa-file-alt"></i> Resoluciones</a>
   </div>
</div>
 <div id="erroresDian" title="Errores de la dian" style="display:none;width:800px;height:500px;" >

    <div class="input-group">
    </div>

    <div id="diverrores" >
    </div>

</div>
{% endblock %}
{% block javascripts %} 
<script>
    
  $(document).ready(function() {
   
      $('#data_table_facturas').DataTable({
            serverSide: true,
            responsive: true,
            pageLength: 50,
            sPaginationType: "full_numbers",
            language: {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            ajax: {
                "url": '/factura/table',
                "type": "POST"
            },
            columns: [
                {data: 'fecha'},
                {data: 'numero'},
                {data: 'cliente'},
                {data: 'total'},
                {data: 'actions'}
                
                ],
            columnDefs: [
                
            ],
            order: [[ 1, "desc" ]]
        });
   });

   function Reportar(id){
       $('#reportar'+id).hide();
       $.ajax({
        url : '{{ path('app_factura_reportar')}}',
        data : { id : id},
        type : 'POST',
        dataType : 'json',
        success : function(json) {

         alertify.success('Factura enviada correctamente por favor  verifica la respuesta de la Dian');
        location.reload();

            },
       error : function(xhr, status) {
        alert('Disculpe, existió un problema');
       }
          });

    }

    function verErrores(idFactura) {

        ParaError = "{{ path('app_factura_error_dian')}}";


        $('#diverrores').load(ParaError, {idFactura: idFactura});

        $("#erroresDian").dialog({ width: 800, height: 500});

    }
    
</script>   
{% endblock %}
