{{ form_start(form) }}
    
     <div class="card-body">
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">Peso Minimo</label>
            <div class="col-sm-9">
              {{form_widget(form.pesoMinimo) }}
            </div> 
        </div>
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">peso Maximo</label>
            <div class="col-sm-9">
              {{form_widget(form.pesoMaximo) }}
            </div> 
        </div>
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">Costo Flete</label>
            <div class="col-sm-9">
              {{form_widget(form.costoFlete) }}
            </div> 
        </div>
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">Configuración Tarifa</label>
            <div class="col-sm-9">
              {{form_widget(form.tarifasConfiguracion) }}
            </div> 
        </div>
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">Zona</label>
            <div class="col-sm-9">
              {{form_widget(form.zona) }}
            </div> 
        </div>
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">Total</label>
            <div class="col-sm-9">
              {{form_widget(form.total) }}
            </div> 
        </div>
        <div class="form-group mb-3 row pb-3">
            <label  class="col-sm-3 text-end control-label col-form-label">Porcentaje Ganancia (solo se usa para las tarifas especiales)</label>
            <div class="col-sm-9">
              {{form_widget(form.porcentaje) }}
            </div> 
        </div>
   
   
   {{ form_widget(form._token) }}
   </div>
    <div class="p-3">
        <div class="form-group text-end">
        <button class="btn btn-info rounded-pill px-4 waves-effect waves-light">{{ button_label|default('Guardar') }}</button>
         <a class="btn btn-dark rounded-pill px-4 waves-effect waves-light" href="{{ path('app_tarifas_index') }}">regresar</a>
        </div>
    </div>
    
{{ form_end(form) }}
{% block javascripts %} 
     <script>

function calcular_total(){


 $.ajax({
    // la URL para la petición
    url : '/tarifas/variables',

    // la información a enviar
    // (también es posible utilizar una cadena de datos)
    data : { 
      flete : $('#tarifas_costoFlete').val(),
      zona_id:$('#tarifas_zona').val(),
      configuracion_id :$('#tarifas_tarifasConfiguracion').val(),
      peso: $('#tarifas_pesoMinimo').val(),
      porcentaje: $('#tarifas_porcentaje').val(),
      },

    // especifica si será una petición POST o GET
    type : 'POST',

    // el tipo de información que se espera de respuesta
    dataType : 'json',

    // código a ejecutar si la petición es satisfactoria;
    // la respuesta es pasada como argumento a la función
    success : function(json) {
        $('#tarifas_total').val(json['total']);

    },

    // código a ejecutar si la petición falla;
    // son pasados como argumentos a la función
    // el objeto de la petición en crudo y código de estatus de la petición
    error : function(xhr, status) {
        alert('Disculpe, existió un problema');
    }/*,

    // código a ejecutar sin importar si la petición falló o no
    complete : function(xhr, status) {
        alert('Petición realizada');
    }*/
});

}

</script>
{% endblock %}
