

<div class="card-body">
    <form id="formGuia">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="form-group mb-3 row pb-3">
                <label class="col-sm-3 text-end control-label col-form-label">N° Guia General</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="numero_guia_general" name="numero_guia_general" value="{{ envio.numero }}">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
        {% for unidad in unidades %}
            <div class="form-group mb-3 row pb-3">
                <label class="col-sm-3 text-end control-label col-form-label">N° Guia {{ loop.index }}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="numero_guia_{{ unidad.id }}" name="numero_guia_{{ unidad.id }}" value="{{ unidad.numeroGuia }}">
                </div>
            </div>
        {% endfor %}
        </div>
        <input type="hidden" id="envio_id" name="envio_id" value="{{ envio.id }}">
        <div class="p-3">
            <div class="form-group text-end">
                <button type="button" class="btn btn-info rounded-pill px-4 waves-effect waves-light" id="guardarBtn">{{ button_label|default('Guardar') }}</button>
            </div>
        </div>
    </div>
</form>
</div>
<script>
    $(document).ready(function() {
    $('#guardarBtn').click(function() {
        // Obtener el ID de envío
        var envioId = $('#envio_id').val();
        // Obtener el número de guía general
        var numeroGuiaGeneral = $('#numero_guia_general').val();

        // Obtener todos los inputs de las guías y construir el objeto guías
        var guias = {};
        $('[id^="numero_guia_"]').each(function() {
            var id = $(this).attr('id').replace('numero_guia_', '');
            if (id !== 'general') { // Excluir la guía general
                guias[id] = $(this).val();
            }
        });

        // Construir el objeto de datos
        var datos = {
            envio_id: envioId,
            numero_guia_general: numeroGuiaGeneral,
            guias: guias
        };

        // Enviar los datos al backend
        $.ajax({
            url: '{{ path('app_envios_nacionales_save_guia')}}',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                'X-CSRF-Token': '{{ csrf_token("token_name") }}' // Asegúrate de incluir el token CSRF
            },
            data: JSON.stringify(datos),
            success: function(response) {
                $("#verEnvio").dialog('close');
                $("#data_table_envios").DataTable().ajax.reload(null,false);  

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                alert('Ocurrió un error en el servidor');
            }
        });
    });
});
  
</script>