{% extends 'base.html.twig' %}
{% import "macros/redirect.html.twig" as macroRedirect %}
{% block title %}Remisiones{% endblock %}

{% block body %}
    <h1>Listado De Remisiones</h1>
    {% for message in app.flashes('notice') %}

		<div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>
			{{ message }}
       </strong>
		</div>
	{% endfor %}
<div class="p-3">
    <div class="form-group ">
        <a class="btn waves-effect waves-light btn-success" href="{{ path('app_envios_nacionales_new') }}">Nueva Remision</a>
        <a class="btn waves-effect waves-light btn-success" href="{{ path('app_migracion_exportar_envio') }}">Exportar Envios</a>
        <a class="btn waves-effect waves-light btn-success" href="{{ path('app_migracion_importar_472') }}">Importar Envios</a>
        <a class="btn waves-effect waves-light btn-info" onclick="imprimirStiker()">Imprimir Stikers</a>
        <a class="btn waves-effect waves-light btn-warning" onclick="imprimirRemision()">Imprimir Remisiones</a>
        <a class="btn waves-effect waves-light btn-success" onclick="exportarEnvios()">Exportar Envios Seleccioandos</a>
  </div>
</div>
<div class="alert alert-dismissable" style="border: 1px #75caeb solid;">
		<div class="div_todo" style="width: 10%;"><input type="checkbox" id="select_all"/>
		</div>
		<di class="div_todo">
			<b>Seleccionar Todo</b>
		</di>
	</div>
<div class="table-responsive">
<div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
<div class="col-sm-12">
    <table class="table" style="width: 100%;" id="data_table_envios">
        <thead>
            <tr>
                
                <th>N° Guia</th>
                <th>Fecha Envio</th>
                <th>Quien Envia</th>
                <th>Quien Recibe</th>
                <th>Municipio Destino</th>
                <th>Estado</th>
                <th>Opciones</th>
               
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
    </div>
</div>
<div class="col-lg-2">
  <a class="justify-content-center w-100 btn btn-success d-flex align-items-center" href="{{ path('app_envios_nacionales_new') }}">Nueva Remision</a>
</div>
<div id="verEnvio" title="Envio" style="display:none;width:800px;height:500px;" >

    <div class="input-group">
    </div>

    <div id="diverEnvio" >
    </div>

</div>  
{% endblock %}
{% block javascripts %} 
{{ macroRedirect.scriptRedirect}}
<script>
    
  $(document).ready(function() {
   
      $('#data_table_envios').DataTable({
            serverSide: true,
            responsive: true,
            pageLength: 50,
            sPaginationType: "full_numbers",
            language: {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            ajax: {
                "url": '/envios_nacionales/table',
                "type": "POST"
            },
            columns: [
                {data: 'numero'},
                {data: 'fecha'},
                {data: 'cliente'},
                {data: 'destinatario'},
                {data: 'municipioDestino'},
                {data: 'estado'},
                {data: 'actions'}
                
                ],
 
                createdRow: function(row, data, index) {

                    // Updated Schedule Week 1 - 07 Mar 22
                    $('td:eq(0)', row).css('background-color', data.color); 
                    $('td:eq(1)', row).css('background-color', data.color);  
                    $('td:eq(2)', row).css('background-color', data.color); 
                    $('td:eq(3)', row).css('background-color', data.color);
                    $('td:eq(4)', row).css('background-color', data.color); 
                    $('td:eq(5)', row).css('background-color', data.color);   
                    $('td:eq(6)', row).css('background-color', data.color);  
                    
                },
            columnDefs: [
                
            ],
             order: [[ 0, "desc" ]]
        });

        
		$('#data_table_envios tbody').on('change', '.form-select', function () {
					
			$.ajax({
					context: this,
						url: '{{path('app_envios_nacionales_save_estado')}}',
						data: {
						id: $(this).data('id'),
						estado_id: $(this).val(),
						},
						type: 'POST',
						dataType: 'json',
						success: function (json) {
							
							
						toastr.options = {
								"closeButton": true,
								"debug": false,
								"newestOnTop": false,
								"progressBar": false,
								"positionClass": "toast-bottom-right",
								"preventDuplicates": false,
								"onclick": null,
								"showDuration": 300,
								"hideDuration": 1000,
								"timeOut": 5000,
								"extendedTimeOut": 1000,
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
								}

							Command: toastr["success"]("carga Actualizada Correctamente");

							},
							error: function (xhr, status) {
							alert('Disculpe, existió un problema');
							}
							});
            });
    
    });
    function verEnvio(idEnvio) {

        ParaEnvio = '/envios_nacionales/'+idEnvio+'/show';


        $('#diverEnvio').load(ParaEnvio, {});

        $("#verEnvio").dialog({ width: 800, height: 500});

    }
    function ocultarEnvio(idEnvio) {

        

        $("#verEnvio").dialog('close');

    }
    function verificar(id){
       $('#verificar'+id).hide();
       $.ajax({
        url : '{{ path('app_envio_verificar')}}',
        data : { id : id},
        type : 'POST',
        dataType : 'json',
        success : function(json) {

         alertify.success('Envio Verificado correctamente');
        location.reload();

            },
       error : function(xhr, status) {
        alert('Disculpe, existió un problema');
       }
          });

    }
    function imprimirStiker(){
        datos = [];
        $("input[name='envId[]']:checked").each(
            function() {
                datos.push({remision: $(this).val()});
                
                }
            );
        
        $.redirect('{{ path('app_impresion_stiker_todos')}}',{datos:datos},"POST",  "_blank");


    }
    function imprimirRemision(){
         datos = [];
        $("input[name='envId[]']:checked").each(
            function() {
                datos.push({remision: $(this).val()});
                
                }
            );
         $.redirect('{{ path('app_impresion_remision_todos')}}',{datos:datos},"POST",  "_blank");

    }
    function exportarEnvios(){
        datos = [];
        $("input[name='envId[]']:checked").each(
            function() {
                datos.push({remision: $(this).val()});
                
                }
            );
        
        $.redirect('{{ path('app_migracion_exportar_envio_excel_seleccioandos')}}',{datos:datos},"POST",  "_blank");


    }

    $('#select_all').change(function() {
        var checkboxes = $('#data_table_envios').find(':checkbox').not($(this));
        checkboxes.prop('checked', $(this).is(':checked'));
      });

    function copyToClipboard(select_1) {
    const selectElement = select_1;
    const selectedText = selectElement.options[selectElement.selectedIndex].text;
    
    const tempInput = document.createElement("input");
    document.body.appendChild(tempInput);
    tempInput.value = selectedText;
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
}
</script>   
{% endblock %}
