{% extends 'base.html.twig' %}

{% block title %}EnviosNacionales{% endblock %}

{% block body %}
    <h1>EnviosNacionales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ envios_nacionale.id }}</td>
            </tr>
            <tr>
                <th>ClienteId</th>
                <td>{{ envios_nacionale.clienteId }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ envios_nacionale.fecha ? envios_nacionale.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ envios_nacionale.numero }}</td>
            </tr>
            <tr>
                <th>MunicipioOrigen</th>
                <td>{{ envios_nacionale.municipioOrigen }}</td>
            </tr>
            <tr>
                <th>DireccionOrigen</th>
                <td>{{ envios_nacionale.direccionOrigen }}</td>
            </tr>
            <tr>
                <th>Unidades</th>
                <td>{{ envios_nacionale.unidades }}</td>
            </tr>
            <tr>
                <th>MunicipioDestino</th>
                <td>{{ envios_nacionale.municipioDestino }}</td>
            </tr>
            <tr>
                <th>Destinatario</th>
                <td>{{ envios_nacionale.destinatario }}</td>
            </tr>
            <tr>
                <th>DireccionDestino</th>
                <td>{{ envios_nacionale.direccionDestino }}</td>
            </tr>
            <tr>
                <th>TelefonoDestinatario</th>
                <td>{{ envios_nacionale.telefonoDestinatario }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ envios_nacionale.peso }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ envios_nacionale.descripcion }}</td>
            </tr>
            <tr>
                <th>Seguro</th>
                <td>{{ envios_nacionale.seguro }}</td>
            </tr>
            <tr>
                <th>ValorTotal</th>
                <td>{{ envios_nacionale.valorTotal }}</td>
            </tr>
            <tr>
                <th>FormaPago</th>
                <td>{{ envios_nacionale.formaPago }}</td>
            </tr>
            <tr>
                <th>ContraEntrega</th>
                <td>{{ envios_nacionale.contraEntrega ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_envios_nacionales_index') }}">back to list</a>

    <a href="{{ path('app_envios_nacionales_edit', {'id': envios_nacionale.id}) }}">edit</a>

    {{ include('envios_nacionales/_delete_form.html.twig') }}
{% endblock %}
