<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<ul class="timeline timeline-left">
					{% for trazabilidad in trazabilidades %}
						<li class="timeline-inverted timeline-item">
							<div class="timeline-badge success">
								<h2>{{loop.index}}</h2>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{trazabilidad.estado}}</h4>
									<p>
										<small class="text-muted">
											<i class="ri-time-line align-middle"></i>
											{{trazabilidad.fecha|format_datetime('none', 'short', locale='es', pattern="EEEE d 'de' LLLL 'del' yyyy " ) }}</small>
									</p>
								</div>
								<div class="timeline-body">
									<p> {% if trazabilidad.quienRecibe %}

										<h2> Quien Recibió: {{trazabilidad.quienRecibe}}</h2>

										{% endif %}
									</p>
								</div>
							</div>
						</li>
					{% else %}
						<li class="timeline-inverted timeline-item">
							<div class="timeline-badge success">
								<h2>{{loop.index}}</h2>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">No se encontró un envío con este número de Guía.</h4>
									<p>
										<small class="text-muted">
											<i class="ri-time-line align-middle"></i>
											</small>
									</p>
								</div>
								<div class="timeline-body">
									<p>
										
									</p>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
