{% extends 'base.html.twig' %}

{% import "macros/select2.html.twig" as macroselect2 %}

{% block title %}Editar Clientes{% endblock %}
{% block stylesheets %}
{{ macroselect2.styleSelect2}}
{% endblock %}
{% block body %}
    <h1>Edit Clientes</h1>

    {{ include('clientes/_form.html.twig', {'button_label': 'Actualizar'}) }}


    {{ include('clientes/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
 
{{ macroselect2.scriptSelect2}}

<script>
     $( "#form_clientes" ).submit(function( event ) {

         if($('#clientes_tipoReceptor').val()=='PERSONA_NATURAL'){

             if(($('#clientes_nombres').val() ==''|| $('#clientes_nombres').val() ==null) || ($('#clientes_apellidos').val() ==''|| $('#clientes_apellidos').val() ==null)){
                 
                 alert( "Por favor ingresa los nombres y apellidos del cliente" );
                 event.preventDefault();
             }
         }
  
     });

     $("#clientes_municipio").select2({
            width: '100%'});
     $("#clientes_idTributo").select2({
            width: '100%'});
     $("#clientes_idObligacion").select2({
            width: '100%'});
     $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
     });

   
function validarExistencia(){
        var id = $('#clientes_nit').val();
       $.ajax({
        url : '{{ path('app_clientes_verificar')}}',
        data : { id : id},
        type : 'POST',
        dataType : 'json',
        success : function(json) {
            if(!json.results){
                    alertify.success('No existe ningun cliente con este nit');
                }else{
                    alertify.error('Ya existe un cliente con este nit');
                }
            },
       error : function(xhr, status) {
        alert('Disculpe, existió un problema');
       }
          });
}  
</script>
{% endblock %}